/* common css  */
/* font import  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}

.highlight {
  color: #ff008e;
}

.primary-button {
  outline: 0;
  border: 0;
  padding: 15px 20px;
  background-image: linear-gradient(90deg, #d61a82, #ff00be);
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 7px 0 #a5075e;
  position: relative;
  top: 0;
}

.primary-button:active {
  top: 5px;
  box-shadow: 0 2px 0 #a5075e;
}

.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 41px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid #ff008e;
  margin: 50px 0;
}
/* header area started  */

header {
  height: 100vh;
  min-height: 500px;
  background-image: url("../images/cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 10px;
}

.navigation li a {
  text-decoration: none;
  margin: 10px;
  color: #fff;
  font-weight: 600;
  padding: 15px 10px;
}

/* banner section started  */

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-left h1 {
  font-size: 44px;
  color: #fff;
}

.banner-left p {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0px;
}

.banner-right img {
  width: 100%;
}

/* feature section css  */

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 30px;
  margin: 0 auto;
  box-shadow: 0 30px 35px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card .card-icon {
  background-color: #ff008e;
  border-radius: 50%;
  width: 40px;
  height: 36px;
  padding: 10px;
  color: #fff;
}

.card h3 {
  color: #ff008e;
  font-size: 25px;
  margin: 10px 0px;
}
.card p {
  margin: 10px 0;
  line-height: 1.5;
}

.card a {
  text-decoration: none;
  color: #ff008e;
}

/* gallery section start  */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 3px solid #ff008e;
}

/* contact section css  */

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.contact-left img {
  width: 100%;
}
.contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-field {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
  outline: 0;
  border: 1px solid #ff008e;
}

/* footer css  */
footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navbar css  */

#nav-toggler {
  display: none;
}

.nav-toggler-icon {
  display: none;
  font-size: 30px;
  color: #fff;
}

/* media queries  */

@media (max-width: 950px) {
  header {
    height: 80vh;
  }
  .banner-left h1 {
    font-size: 35px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .banner {
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .feature,
  .gallery,
  .contact {
    grid-template-columns: 1fr;
  }
  .contact {
    padding-bottom: 30px;
  }
  .photo {
    text-align: center;
  }
  .photo img {
    max-width: 350px;
  }

  header {
    height: fit-content;
    padding-bottom: 50px;
  }
  .banner-left h1 {
    font-size: 30px;
  }
  .banner {
    text-align: center;
  }

  .center {
    align-self: center;
  }
  .banner-right img {
    width: 50%;
  }
  .banner-left {
    order: 2;
  }

  .nav-toggler-icon {
    display: block;
  }

  .navigation {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    transform: translateY(-350px);
    transition: 0.5s ease-in-out;
  }
  .navigation li a {
    color: #121212;
  }
  #nav-toggler:checked ~ .navigation {
    transform: translateY(0px);
  }
}
